PORT=4000

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# PostgreSQL
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=ticket_booking

# JWT
JWT_SECRET=replace_this_with_a_long_random_string
JWT_EXPIRES_IN=1d
